@model FastFood.DAL.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Menu" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meal_ID" class="control-label"></label>
                <input asp-for="Meal_ID" class="form-control" readonly/>
                <span asp-validation-for="Meal_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal_title" class="control-label"></label>
                <input asp-for="Meal_title" class="form-control" />
                <span asp-validation-for="Meal_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control">
                    <option value="Large">Large</option>
                    <option value="Medium">Medium</option>
                    <option value="Small">Small</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToPrepare" class="control-label"></label>
                <input type="time" asp-for="TimeToPrepare" class="form-control" />
                <span asp-validation-for="TimeToPrepare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="MenuImage">
                @if (Model.Image != null && Model.Image.Length > 0)
                {
                    <p>This picture will be deleted</p>
                    string imageBase64 = Convert.ToBase64String(Model.Image);
                    string imageUrl = $"data:image;base64,{imageBase64}";
                    <img src="@imageUrl" alt="Ingredient Image" style="width: 400px; height : 400px ; margin-bottom : 20px" />
                }
                else
                {
                    <span>No image available</span>
                }
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input mt-3 mb-3" asp-for="IsForVegan" style="transform: scale(1.8);  margin-right: 10px;" /> @Html.DisplayNameFor(model => model.IsForVegan)
                </label>
            </div>
            <div class="form-group">
                <label for="Created_Date" class="control-label">Created Date</label>
                <input id="Created_Date" class="form-control" asp-for="Created_Date" readonly />
                <span asp-validation-for="Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
