<!-- Students ID: 00013836, 00014725, 00014896-->
@model FastFood.DAL.Models.Menu_Ingredients

@{
    ViewData["Title"] = "Create";

    var mealOptions = ViewBag.MealOptions as List<SelectListItem>;
    if (mealOptions == null)
    {
        mealOptions = new List<SelectListItem>();
    }

    var ingredientOptions = ViewBag.ingredientOptions as List<SelectListItem>;
    if (ingredientOptions == null)
    {
        ingredientOptions = new List<SelectListItem>();
    }
}

<h1>Create</h1>

<h4>Menu_Ingredients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="meal_ID" class="control-label">Meal</label>
                <select asp-for="meal_ID" id="Meal_ID" class="form-control">
                    <option value="">Select Meal</option>
                    @foreach (var item in mealOptions)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="meal_ID" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="ingredient_ID" class="control-label">Meal</label>
                <select asp-for="ingredient_ID" id="ingredient_ID" class="form-control">
                    <option value="">Select Meal</option>
                    @foreach (var item in ingredientOptions)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ingredient_ID" class="text-danger"></span>
            </div>

            <div class="form-group mt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


